{{- if not .IsHome }}
<div class="page-hero__breadcrumb">
  {{- $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
  {{- $langUrl := strings.TrimPrefix "/" $url }}
  {{- $path := "" }}
  <a href="{{ "" | absURL }}">Inicio</a>
  {{- range $index, $element := split $langUrl "/" }}
    {{- if and (ne $element "") (ne $element (print $.Site.LanguagePrefix "/")) (ne $element $.Slug) }}
      {{- $path = printf "%s%s/" $path $element }}
      / <a href="{{ $path | absURL }}">{{ humanize $element }}</a>
    {{- else if eq $element $.Slug }}
      / <span>{{ $.Title }}</span>
    {{- end }}
  {{- end }}
</div>
{{- end }}